.App {
  background-color: #efefef;
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.button {
  background: dodgerblue;
  width: 40%;
  margin: auto;
  margin-bottom: 5vh;
  border-radius: 10px;
  padding: 15px 50px;
  color: white;
  font-size: 14px;
}

.comic {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 66%;
  margin: auto;
  margin-bottom: 50px;
  padding: 3vw;
  -moz-box-shadow: 0 1px 1px rgba(214, 102, 102, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
}